@import url("https://fonts.googleapis.com/css2?family=WindSong&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.heroButton {
		@apply px-3 py-2 mx-1 sm:px-5 sm:mx-2 sm:text-sm border border-[#1da1f2] rounded-full uppercase text-xs tracking-widest transition-all hover:bg-[#1da1f2] hover:border-white;
	}

	.contactInput {
		@apply outline-none bg-[#bad9ec] rounded-lg border-b-4 px-6 py-4 border-[#FFFFFF] text-[#192734] placeholder-[#192734] transition-all focus:border-[#1da1f2] focus:text-[#000000] hover:border-[#1da1f2];
	}
	.dropShadow {
		box-shadow: black 3px 0px 5px;
	}

	.hr {
		width: 80%;
		height: 2px;
		box-shadow: 0px 1px 1px black;
	}
	@media screen and (min-width: 500px) {
		.hr {
			width: 80%;
		}
	}
	@media screen and (min-width: 800px) {
		.hr {
			width: 60%;
		}
	}
}
